@use '@carbon/react';


// section to use to test things on different pages
.test {
    background-color: lightyellow;
    color: darkgoldenrod;
}

.subtitle {
    background-color: #F4F4F4;
    padding: 12px;
}

// home page code
.home-container {
    position: relative;
    height: calc(100vh - 47px);
    overflow: hidden;

    .header {
        margin-top: 75px;
        padding: 32px;
    }

    .body-content {

        .intro-content {
            padding: 24px;
            display: flex;
            flex-direction: column;
            width: 60vw;
            max-width: 1000px;

            p {
                padding: 24px 0;

                &.pulled-quote {
                    font-weight: 600;
                }
            }

        }

        .img-content {
            padding-right: 47px;
            right: 2vw;
            top: 2vh;
            position: absolute;
            z-index: -1;

            img {
                width: 35vw;
                min-width: 200px;
                height: auto;

            }
        }

    }

    .info-toast {
        position: absolute;
        margin: 12px;
        right: 0;
        bottom: 0;
    }

}