.conceptual-body {
    padding: 32px;

    .page-section {
        margin-bottom: 5rem;
    }

    hr {
        width: 100%;
        border-top: 1px solid #F4F4F4;
        margin-bottom: 26px;
    }
}